* {
  font-family: "Public Sans", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #f8f8f8;
}

.dashboard-main {
  height: 100%;
  display: flex;
}

.navbar {
  height: 100%;
  flex: 0.1;
}

.nav-container {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  height: 50px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  color: white;
  opacity: 0.8;
}

.selected {
  border-radius: 5px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

.container {
  position: relative;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: auto;
  flex: 0.9;
}

.watermark {
  content: '';
  position: absolute;
  background-image: url("../assets/logo.png");
  background-size: 400px;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.07;
}

.search-box {
  display: flex;
  justify-content: center;
}

.num-plate-img {
  height: 90px;
  width: 150px;
}

.modal-backdrop {
  position: inherit !important;
}

tr {
  text-align: center;
}